* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000;
  background-color: #fff;
}

.modal-adress {
  opacity: 0;
}

.modal-login {
  opacity: 0;
}

a {
  text-decoration: none;
}

.nav-block__logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  margin-right: 17px;
  padding: 13px 55px;
  color: white;
}

.nav-block__logo a:hover {
  background-color: #ca2c37;
}

.nav-block__logo a:active {
  background-color: #ba2732;
}

.nav-block__search {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nav-block__search::placeholder {
  color: white;
}

.nav-block__search-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  opacity: 0.3;
}

.container {
  display: flex;
  width: 1280px;
  margin: auto;
}

.nav-block {
  justify-content: space-between;
  display: flex;
  width: 100%;
  background: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
}

.nav-block__tips {
  width: 150px;
  border-color: #293449;
}

.nav-block__tips a :hover {
  width: 150px;
  background-color: #212a3a;
}

.nav-block__buys {
  width: 627px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.nav-block__buys a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 17px;
}

.nav-block__buys a:hover {
  background-color: red;
}

.nav-block__buys a:active {
  background-color: #161d29;
}

.nav-block__main {
  width: 627px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
}

.nav-block__buy-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  padding: 13px 15px;
  font-size: 17px;
  color: #ffffff;
  margin-left: 30px;
}

.nav-block__buy-button a:hover {
  color: #5fbb2d;
}

.nav-block__buy-button a:active {
  color: #ba2732;
}

.categories-bottom,
.bottom-navigation,
.site-nav,
.footer-media__list,
.user-menu {
  list-style: none;
}

header {
  background-color: #f1f5f7;
}

.phone {
  margin-right: 40px;
}

.main-menu {
  justify-content: space-between;
  display: flex;
  width: 100%;
  background: #f3f7f8;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-menu__phone {
  flex-direction: row;
}

.menu-block {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-menu__name {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 20px;
}

.main-menu__contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main-menu__buttons {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main-menu__name-shop {
  width: 196px;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.main-menu__phone-shop {
  color: #e9292a;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  display: flex;
  padding: 10px 0;
}

.main-menu__adress-top {
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
}

/* ============================================== */
.main-nav {
  height: 60px;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
}

.site-nav {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  width: 100%;
  display: flex;
  font-size: 17px;
}

.site-nav a {
  text-decoration: none;
  color: #ffffff;
}

.main-nav__list {
  background-color: #32425c;
  display: flex;
  width: 100%;
}

.site-nav-setting {
  margin: auto;
}

/*  ============================*/
.footer-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info__intro {
  margin-right: 120px;
  display: flex;
  flex-direction: column;
}

.name-company {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.info-company {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.shipping-companies {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.more-about-company {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 40px;
}

.contacts-name {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.pick-point {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
}

/* ================================================
========footer===================================== */
.map {
  width: 300px;
  height: 158px;
}

.footer {
  display: flex;
  background-color: #32425c;
  width: 100%;
}

.footer__contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contacts__logo {
  width: 220px;
  height: 68px;
  color: white;
  padding: 20px 49px;
  font-size: 24px;
  font-family: "Cuprum";
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.contacts-list {
  display: flex;
  list-style: none;
}

.contacts-list__item {
  color: white;
  padding: 0px 30px;
  font-size: 17px;
  font-family: "Cuprum";
}

.contacts-list__item:last-child {
  padding-right: 0px;
}

.footer-location {
  display: flex;
  background-color: #32425c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 97px;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__adress {
  color: #f3f7f9;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  padding-top: 32px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.categories-list {
  display: flex;
  list-style: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.categories-list__item {
  color: #ffd180;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  padding: 0px 30px;
}

.footer-bottom {
  background-color: #293449;
  height: 107px;
}

.footer-copyright {
  display: flex;
  background-color: #293449;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__copyright {
  display: flex;
  width: 100%;
  height: 33px;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 16px;
  padding-top: 30px;
}

.footer-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-media__list {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.footer-media__item {
  padding: 0px 13px;
  padding-top: 25px;
  background-color: #212a3a;
  border-radius: 50%;
}

.table-social-work {
  display: flex;
  font-family: "Cuprum";
  font-size: 16px;
  color: #ffffff;
  justify-content: space-between;
  padding-top: 40px;
}

.redirect {
  padding: 0px 21px;
}

.footer-bottom__mail a {
  color: #ffd180;
}

/* !!!!!!!!!!!!!!!!CATALOG.HTML!!!!!!!!!!!!!!!! */
.main-menu__menu {
  display: flex;
  flex-direction: column;
}

.name-surename {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 299px;
  height: 45px;
  background-color: white;
  justify-content: space-between;
}

.main-menu__icon-user {
  padding: 13px 13px;
}

.user-name {
  color: #000000;
  font-family: "Cuprum";
  font-size: 21px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-menu__logout {
  padding: 14px 8px;
}

.user-menu__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.user-menu__item {
  padding: 0px 12px;
}

/* !!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!! */
.perforator-about {
  display: flex;
  background-color: #f2f6f8;
  flex-direction: column;
  padding-left: 130px;
  padding-bottom: 75px;
  align-items: center;
}

.name-2 {
  font-family: "Cuprum";
  font-size: 30px;
  text-transform: uppercase;
}

.perforator-about__info {
  color: #000000;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
